@using Parcel.Models;

<h1>Your package</h1>
<p>Package height: @Model.Height</p>
<p>Package width: @Model.Width</p>
<p>Package depth: @Model.Depth</p>
<p>Package weight: @Model.Weight</p>
<p>Shipping will cost: $@Model.Cost</p>
<p>The volume is: @Model.Volume inches^3</p>

<a href="/">Home.</a>